.comment-title {
  margin: 1rem 0;
}
.comment-card {
  display: flex;
  margin-bottom: 1rem;
}
.comment-text h2 {
  font-size: 0.8rem;
  margin: 0;
  margin-right: 0.3rem;
  cursor: pointer;
}
.comment-text p {
  font-size: 0.7rem;
  margin: 0;
  margin-top: 0.1rem;
  color: rgb(186, 186, 186);
  cursor: pointer;
}
.comment-text p:hover {
  color: white;
}
.comment-text {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.comment-icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.comment {
  margin-left: 0.8rem;
}

pre {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  width: 50vw;
  max-width: 43rem;
  text-wrap: pretty;
  padding-bottom: 0.3rem;
}

.comment-like {
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.2rem;
  margin-right: 1rem;
}

.comment-like:hover {
  background-color: rgb(55, 55, 55);
  border-radius: 1rem;
}

@media screen and (max-width: 1015px) {
  .comment-card {
    margin-left: 0.2rem;
  }
  pre {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .comment-card {
    margin-left: 0.2rem;
  }
  pre {
    width: 80vw;
  }
}
